USE [DW]
GO
/****** Object:  StoredProcedure [dbo].[SP_L40_UltimasSemanas]    Script Date: 30/12/2025 8:40:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SP_L40_UltimasSemanas]
    @CantidadSemanas INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @CantidadSemanas IS NULL OR @CantidadSemanas <= 0
        SET @CantidadSemanas = 3;

    ;WITH ListaBase AS (
        SELECT 
            lp.fecha                       AS fecha_vigencia,
            lp.cod_art,
            lp.producto,
            cp.GRAN_RUBRO_CDG,
            lp.unidad_me,
            lp.precioxkg,
            ta.DESCRIPCION_TIPO_ART,
            dt.CalendarYear,
            dt.WeekNumberOfYear,
            dt.SpanishMonthName
        FROM DW.dbo.Lista_Precios_Odoo lp
        INNER JOIN DW.dbo.DimTime dt
            ON dt.FullDateAlternateKey = lp.fecha
        LEFT JOIN DW.dbo.DimProducto p
            ON p.COD_ART = lp.COD_ART
        LEFT JOIN DW.dbo.DimClasificacionProducto cp
            ON cp.COD_ART = lp.COD_ART
        LEFT JOIN DW.dbo.DimTipoArticulo ta
            ON p.TIPO_ART = ta.CODIGO_TIPO_ART
        WHERE lp.id_lista = 126
    ),

    UltimasSemanas AS (
        SELECT TOP (@CantidadSemanas)
            CalendarYear,
            WeekNumberOfYear
        FROM ListaBase
        GROUP BY CalendarYear, WeekNumberOfYear
        ORDER BY CalendarYear DESC, WeekNumberOfYear DESC
    )

    SELECT lb.*
    FROM ListaBase lb
    INNER JOIN UltimasSemanas us
        ON lb.CalendarYear = us.CalendarYear
       AND lb.WeekNumberOfYear = us.WeekNumberOfYear
    ORDER BY lb.fecha_vigencia DESC;

END;


USE DW;
EXEC dbo.SP_L40_UltimasSemanas 4;


SELECT
    o.name,
    o.type,
    o.type_desc
FROM sys.objects o
WHERE o.name = 'Lista_Precios_Odoo';
